.message{
	padding: 10px;
	margin: 5px;
	width:  fit-content;
}
.manager{
	display: flex;
	align-items: center;
}
.card_content{
	margin: 10px;
	margin-top: -10px;
}
.card_content p{
	color: white;
	font-weight: 400;
}
.message_user{
	margin-left: auto;
	color: white;
	text-align: left !important;
	margin: 5px;
	display: flex;
	align-items: center;
}
.message_userCard{
	overflow-wrap: break-word;
	background-color: #005763 !important;
	margin: 10px;
	width: 50vh;
	margin-left: 55vw;

}
.manager{
	display: flex;
	align-items: center;
}
.message_guestCard{
	background-color: #252629 !important;
	margin: 10px;
	width: 50vh;
	overflow-wrap: break-word;
}
.message_guestCard p{

}
.te{
	font-size: 10px;
}