.signup{
	background-color: black;
	height: 100vh; 
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div_sign input{
	width: 50vw;
	height: 30px;
	background: transparent;
	outline: none;
}
.choose{
	width: 50vw;
}

.submit{
	width: 50vw;
	margin-top: 10px;
}
.submit button{
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: darkgray;
    text-decoration: none;
    margin-bottom: 40px;
} 
.submit button:hover{
	background-color: skyblue;
	transition: 1s;
}
