.project{
	overflow: hidden;
}
.pro h1{
	text-decoration: none !important;
	font-weight: 100;
}
.right_project{
	flex-wrap: wrap;
	padding: 10px;
	border-left: 1px solid white;
	background: #004048;
	width: 100%;
}
.right_project > h1{
	text-decoration: none;
	font-size: 30px;
	font-weight: 600;
}

.right_project p{
	color: gray;
}
.description_project p{
	overflow-wrap: break-word;
	width: 75vw;
}
.demo_project p{
	overflow-wrap: break-word;
	width: 75vw;
}
.edit{
	display: flex;
	align-items: center;
}