.card{
	height: 200px;
	background: #006F7E;
	width: 300px;
	border-radius: 5px;
	margin: 20px;
	color: black;
	padding: 10px;
	box-shadow: 5px 10px black;
	position: relative;
}
.card{
	position: relative;
	background-color: #006f7e;
	border-radius: 4px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
}
.card::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -16px;
    background: #80b3ff;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card:hover:before {
    transform: scale(15);
}
.card h1{
	font-weight: 630;
	font-size: 25px;
}
.group{
	margin-bottom: -10px;
}
.group p{
	padding: 2px;
	font-weight: 600;
	text-align: center;
	color: white;
	padding-top: 7px;
}
.pro{
	max-width: 500px;
}

.description{
	margin-top: -30px;
	float: left;
	overflow-wrap: break-word;
	width: 360px;
	height: 100px;
	overflow: hidden;
}
.description p{
	width: 250px;
	font-weight: 400;
	font-size: 15px;
}