.home{
	display: flex;
	justify-content: flex-start;
	background-color: #002328;
}
a{
	text-decoration: none;
	color: white;
}
.left{
	position: fixed;
	padding: 5px;
	height: 100%;
	border-right: 5px solid black;
	flex-grow: 0;
	box-shadow: 0 0 3px #ccc;
}
.right_bottoms{
	display: flex;
	bottom: 10px;
	right: 30px;
	position: fixed;
	justify-content: space-between;
	z-index: 100000;

}
.left_bottoms{
	display: flex;
	bottom: 0px;
	position: fixed;
	justify-content: space-between;

}
.log{
	padding-left: 30px;
}
.left_bottom{	
	display: flex;
	align-items: center;
}
.right{
	margin-left: 200px;
	flex-grow: 6;
	padding: 10px;
	overflow: hidden;
}

.right .search_bar input{
	width: 90%;
	height: 30px;
	padding: 10px;
	outline: none;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	background: transparent;
	border: 2px solid #006F7E;
	color: #006F7E;
}
.right .search_bar{
	display: flex;
	align-items: center;
	/*padding-left: 15px;*/
	margin-left: 12px;
	
}
.search_icon{
	color: #006F7E;
	background-color: #006F7E;
	/*height: 50px;*/
	/*align-content: center;*/
	border-radius: 5px;
	margin-left: -10px;

}
.cards{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.right_header{
	color:  #03e9f4;
}